<header>
    <div class="contenedor">
        <h2 class="logotipo">GoCar</h2>
        <nav>
            <a href="#" class="activo btn-secondary btn-sm">Inicio</a>
            <a href="#" class="btn-secondary btn-sm">Buscar</a>
            <a href="/autos" class="btn-secondary btn-sm">Modelos</a>
            <a href="/usuarios" class="btn-secondary btn-sm">Usuarios</a>
            <a href="/trabajadores" class="btn-secondary btn-sm">Trabajadores</a>
        </nav>
    </div>
</header>

<main>
    <div class="auto-principal">
        <div class="contenedor">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 class="titulo">ONIX ACTIVE</h3>
            <p class="descripcion">
                For me,
                For us
            </p>
            <button role="button" class="boton"><i class="fas fa-check"></i>¡Lo quiero!</button>
            <button role="button" class="boton"><i class="fas fa-info-circle"></i>¿Lo quiero?</button>
        </div>
    </div>

    <div class="autos-recomendados contenedor">
        <div class="contenedor-titulo-controles">
            <h3>Dia de playa?     Paseo?      Mira estos modelos:</h3>
            <div class="indicadores"></div>
        </div>

        <div class="contenedor-principal">
            <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

            <div class="contenedor-carousel">
                <div class="carousel">
                    <div class="auto">
                        <a href="#"><img src="img/1.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/2.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/3.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/4.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/5.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/6.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/7.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/1.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/2.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/3.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/1.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/2.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/3.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/4.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/5.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/6.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/7.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/1.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/2.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/3.jpg" alt=""></a>
                    </div>
                    <div class="auto">
                        <a href="#"><img src="img/4.jpg" alt=""></a>
                    </div>
                </div>
            </div>

            <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>

    <center><img src="img/esp.png" alt=""></center>
    <center><img src="img/banner1.png" alt=""></center>
    <center><img src="img/banner2.png" alt=""></center>
</main>