<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/autos">
    <img src="/public/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
    GoCar
  </a>
</nav>
<br>
    <h3 class="titulo-2" ><a href="/autos">Volver a la Lista de autos</a></h3>
    
    <br>
<div class="centrado-2">

    <h1><center>Añadir nuevo auto</center> </h1>

    <section class="d-flex justify-content-center">
        <div class="col-6">
            <form action="/autos/save" method="post">
            
                        <div class="form-group">
                            <label for="nombre">Nombre </label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"/>
                        </div>

                        <div class="form-group">
                            <label for="marca">Marca </label>
                            <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca"/>
                        </div>

                        
                        <div class="form-group">
                            <label for="color">Color </label>
                            <input type="text" class="form-control" id="color" name="color" placeholder="Color"/>
                        </div>

                        <div class="form-group">
                            <label for="estado">Estado </label>
                            <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado"/>
                        </div>

                        <div class="form-group">
                            <label for="stock">Stock </label>
                            <input type="text" class="form-control" id="stock" name="stock" placeholder="Stock"/>
                        </div>

                        <div class="form-group">
                            <label for="capacidad">Capacidad </label>
                            <input type="text" class="form-control" id="capacidad" name="capacidad" placeholder="Capacidad"/>
                        </div>

                        <center>
                            <div class="form-group">
                                <input class="btn btn-dark" type="submit" value="Grabar">

                            </div>
                        </center>
            </form>

        </div>

    </section>
</div>

